 a {
    text-decoration: none;
    color: #161515;
}
a:hover{
    color: black;
    font-weight: bolder;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav {
    margin:0;
    padding: 0;
    width: 21vw;
    height: 100%;
    top: 0;
    left: 0;
    border-right: 2px solid black;
    overflow-y: auto;
    position: fixed;
    min-width: 200px;
}

.lili {
    padding-top: 2.3vh;
    padding-bottom: 2.3vh;
    padding-right: 2vh;
    padding-left: 2vh;
    border: none;
    border-radius: 7px;
    background-color: mistyrose;
    margin: 1.6vh;
}

.lili:hover{
    background: linear-gradient(90deg,rgb(206, 111, 119),rgb(114, 151, 185),rgb(97, 91, 91));

}
nav>header {
    font-size: 1.5em;
    /* padding-top: 3%;
    padding-bottom: 5%; */
    text-align: center;
    border-bottom: 1.5px solid black;
    font-weight: bolder;
}

body {
    font-family: 'Lora', tahoma;
    margin: 0;
    padding: 0;
    display: flex;
}

pre {
    border: none;
    border-radius: 12px;
    background-color: rgb(188, 241, 239);
    box-shadow: 2px 2px 8px lightseagreen;
    font-size: 1.2em;
}

code {
    color: rgb(3, 51, 59);
    line-height: 1.4rem;

}

p {
    margin-left: 1.5rem;
}

.imp {
    font-style: italic;
}

.line {
    border-bottom: 1.5px solid rgba(1, 24, 23, 0.2);
    box-shadow: 1.5px 1.5px 8px rgba(1, 24, 23, 0.6);
    margin-top: 5vh;
    margin-bottom: 5vh;
}

table {
    margin-top: 4vh;
    margin-bottom: 4vh;
}

th,
td {
    border: 1.5px solid black;
    border-radius: 4px;
    padding: 2vh;
    text-align: left;
}

th {
    background-color: rgb(250, 195, 189);
}

td {
    background-color: mistyrose;
}

ol li {
    padding: 3vh;
}
#main-doc {
    margin-left: 22%;
}
main h1:first-child {
  margin-top: 0;
}

*{
    box-sizing: border-box;
}

@media only screen and ( max-width: 355px) {
 .lili {
    padding: 1%;
 }
 #main-doc {
    margin-left: 200px;
 }
}

.one, .two, .three, .four, .five, .six, .seven {
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    padding: 2%;
    margin: 2%;
    margin-bottom:4%;
    box-shadow: 0 0px 8px rgb(44, 43, 43);
}

.vanilla{
    overflow-y: auto;
}
 /* Important */
#menu-toggle {
  display: none;
  background-color: mistyrose;
  border: none;
  padding: 1rem;
  font-size: 1.2rem;
  width: 100%;
  text-align: left;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  nav {
    width: 100%;
    height: auto;
    position: relative;
    border-right: none;
    border-bottom: 2px solid black;
  }

  #menu-toggle {
    display: block;
  }

  #menu-list {
    display: none;
    flex-direction: column;
    padding: 0.5rem;
  }

  #menu-list.show-menu {
    display: flex;
  }

  .lili {
    margin: 0.5rem;
    padding: 0.8rem 1rem;
    text-align: center;
  }

  #main-doc {
    margin-left: 0;
    padding: 2rem;
    margin-top: 1rem;
  }
}

@media screen and (max-width: 480px) {
  .lili {
    flex: 1 1 100%;
    margin: 0.4rem auto;
  }
}